
.popularCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.popularImagen {
  width: 340px;
  height: 320px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 10px 10px 0 0;
}

.precioPopular{
  font-size: xx-large;
}

.populares {
  display: flex;
  align-items: center;
}
